{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Main page content-->
    <div class="container header-spacing">
        <div class="row">
            <div class="col">
                <!--Carousel content-->
                <!--
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Some representative placeholder content for the first slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>Some representative placeholder content for the second slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                -->
            </div>
        </div>
        <div class="row">
            <div class="col bg-primary">
                <h1 class="text-center bg-success">About</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                   Maecenas tincidunt nisi sit amet mi venenatis suscipit.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   In mollis, erat eget pellentesque efficitur, risus arcu varius felis,
                   sit amet venenatis odio tellus eu dolor. Fusce pellentesque purus a 
                   risus rhoncus hendrerit non eu leo. Maecenas tempus volutpat enim, 
                   tempor tincidunt ante fringilla nec. Ut auctor lectus quis purus elementum 
                   suscipit. Curabitur a ornare est. Nam finibus vel sem quis maximus.
                </p>
            </div>
        </div>
        <div class="row  mx-auto w-50">
            <div class="col bg-success">
                <h1 class="text-center">Contact Us</h1>
                <ul>
                    <li>+46 737895698</li>
                    <li>Sweden</li>
                    <li>114 21</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}