{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Main page content-->
    <div class="container header-spacing">
        <div class="row">
            <div class="col">
                <!--Carousel content goes here-->
            </div>
        </div>
        <div class="row">
            <div class="col bg-primary">
                <h1 class="text-center bg-success">About</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                   Maecenas tincidunt nisi sit amet mi venenatis suscipit.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   In mollis, erat eget pellentesque efficitur, risus arcu varius felis,
                   sit amet venenatis odio tellus eu dolor. Fusce pellentesque purus a 
                   risus rhoncus hendrerit non eu leo. Maecenas tempus volutpat enim, 
                   tempor tincidunt ante fringilla nec. Ut auctor lectus quis purus elementum 
                   suscipit. Curabitur a ornare est. Nam finibus vel sem quis maximus.
                </p>
            </div>
        </div>
        <div class="row  mx-auto w-50">
            <div class="col bg-success">
                <h1 class="text-center">Contact Us</h1>
                <ul>
                    <li>+46 737895698</li>
                    <li>Sweden</li>
                    <li>114 21</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}