html {
    height: 100%;
}

body {
    background-color: aqua;
}
.main-navbar{
}

.main-navbar li{
    background-color: lightcoral;
    margin-left: 2.5%;
}
#mobile-icon-list {
    background-color: aquamarine !important;
    padding-top: 5%;
}

#list-of-items{
    padding-left: 0;
}

.icon-list {
    margin-left: 15%;
    justify-content: space-between;
}


